/*pagina einde */


  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container img {
    width: 100%;
    height: auto;
    margin: 5px;
    cursor: pointer;
  } 

  .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .modal img {
    margin: auto;
  display: block;
  width: auto;
  min-width: 40%;
  max-width: 80%;
  height: auto;
  max-height: 70%;
  position: absolute;
  top: 50%;
  text-align: center;
    
  }
    .modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0,0,0,0.527);
			text-align: center; /* Center the image horizontally */

  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  @media screen and (max-width: 900px) {
    .modal img {
      margin: auto;
    display: block;
    width: auto;
    min-width: 70%;
    max-width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
  
    text-align: center;
      
    }
  }




::selection {
  color: black;
  background: #e4bda4;
  border-radius: 16px;
}

@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
  body{
    font-family: Georgia, serif;
  }


}


 


img{
  border-radius: 16px;
}

.kolom{
    float: left;
    width: 16.655%;
    padding: 10px;
    height: 300px;
    text-align: left;
    font-size: larger;
  }
  
  .kolom2{
    float: left;
    width: 22%;
    padding: 10px;
    height: 350px;
    text-align: right;
    font-size: larger;
  }
  
  .kolom21{
    float: left;
    width: 22%;
    padding: 10px;
    height: 350px;
    text-align: left;
    font-size: larger;
  }
  
  
  .kolom3{
    float: left;
    width: 11.33%;
    padding: 10px;
    height: 350px;
    text-align: right;
    font-size: larger;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .kolom31{
    float: left;
    width: 11.33%;
    padding: 10px;
    height: 350px;
    text-align: right;
    font-size: larger;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  
  .kolom1{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 350px;
    text-align: center;
    font-size: larger;
  }
  
  a:link {
    color: black;
    background-color:transparent;
    text-decoration: none; 
  }
  
  a:visited {
    color: black;
    background-color:transparent;
    text-decoration: none; 
  }
  
  a:hover {
    color: #d54616dc;
    background-color:transparent;
    text-decoration: none; 
    transition: 0.5s
  }

  .fa{
    
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  





  
  @media screen and (max-width: 900px) {
    .kolom {
      width: 100%;
      text-align: center;
    }
  
  

    .kolom1 {
      width: 100%;
      text-align: center;
      height: fit-content;
    }
  
  

    .kolom2 {
      width: 100%;
      text-align: center;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  

    

      .kolom21 {
        width: 100%;
        height: fit-content;
        text-align: center;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }
    


      .kolom3 {
        width: 100%;
        text-align: center;
        display: none;
      
      }
    
    

      .kolom31 {
        width: 100%;
        text-align: center;
        display: none;
      }
    }

    @media screen and (min-width: 900px) and  (max-width: 1370px) {
  
      
      .kolom2{
        float: left;
        width: 33.34%;
        padding-right: 10%;
        border-top-right-radius: 16px ;
        border-bottom-right-radius: 16px;

      }
      
      .kolom21{
        float: left;
        width: 33.33%;
        padding-left: 10%;
        border-top-left-radius: 16px ;
        border-bottom-left-radius: 16px;

      }
      
      
      .kolom3{
        float: left;
        width: 0%;
        display: none;

      }
      
      .kolom31{
        float: left;
        width: 0%;
        display: none;

      }


      .kolom1{
        float: left;
        width: 33.33%;
      }
  
    }
    
    html {
      scroll-behavior: smooth;
    }