
.kolom91{
 width: 40%;
 margin-left: 5%;
 
 height: fit-content;
 border-radius: 16px;
 float: left;
 text-align: center;
 color: #d54616;
}





.kolom92{
    min-height: 670px;
    min-width: 40%;
    max-width: 45%;
    margin-left: 5%;
    background-color: #e5bda29d;
    border-radius: 16px;
    text-align: center;
    float: left;
}


.kolom94{
  width: 10%;
  height: 300px;
  border-radius: 16px;
  float: left;
}


input[type=button], button[type=submit], input[type=reset] {
  background-color: #f8eee7;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: Poppins;
  border-bottom-style: groove;
}

input[type=button], button:hover[type=submit], input[type=reset]{
    background-color: #e47c5ca5;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
   
    cursor: pointer;
    border-radius: 16px;
    font-family: Poppins;
    
}

input[type=text], input[type=email], input[type=message], textarea {
  background-color: #f8eee7;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 75%;
  font-family: Poppins;
}

textarea {
 width: 75%;
 font-family: Poppins;
 max-width: 75%;
 max-height: 200px;
 min-width: 75%;
}
  

@media screen and (max-width: 800px) {
  .kolom91 {
  width: 100%;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: medium;
}



  .kolom92 {
  min-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
    }


  .kolom93 {
  min-width: 100%;
  height: 150px;
  text-align: center;

  }



  .kolom94 {
  min-width: 100%;
  text-align: center;
  }



  input[type=text], input[type=email], input[type=message], textarea {
    background-color: #f8eee7;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 75%;
    font-family: Poppins;
  }
  textarea {
    width: 75%;
    font-family: Poppins;
    max-width: 80%;
    max-height: 200px;
    min-width: 75%;
    min-height: 50px;
   }
}

@media screen and  (orientation: landscape) and (max-width: 1100px) and (min-width: 700px) {

  .kolom91{
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
    border-radius: 16px;
    float: left;
    text-align: center;
    color: #d54616;
   }
   
   .kolom90{
     width: 0%;
     border-radius: 16px;
     float: left;
     text-align: center;
     color: #d54616;
    }
   
   
   
   .kolom92{
       min-height: 670px;
       margin-left: 5%;
       min-width: 45%;
       max-width: 50%;
       background-color: #e5bda29d;
       border-radius: 16px;
       text-align: center;
       float: left;
   }
   
   .kolom93{
display:none;
   }
   
   .kolom94{
     width: 10%;
     height: 300px;
     border-radius: 16px;
     float: left;
   }
   
   
   input[type=button], button[type=submit], input[type=reset] {
     background-color: #f8eee7;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 16px;
     font-family: Poppins;
     border-bottom-style: groove;
   }
   
   input[type=button], button:hover[type=submit], input[type=reset]{
       background-color: #e47c5ca5;
       border: none;
       color: black;
       padding: 16px 32px;
       text-decoration: none;

       cursor: pointer;
       border-radius: 16px;
       font-family: Poppins;
      
   }
   
   input[type=text], input[type=email], input[type=message], textarea {
     background-color: #f8eee7;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 16px;
     width: 75%;
     font-family: Poppins;
   }
   
   textarea {
    width: 75%;
    font-family: Poppins;
    max-width: 75%;
    max-height: 200px;
    min-width: 75%;
   }
   
}

@media screen and  (orientation: portrait) and (max-width: 1100px) and (min-width: 700px) {

  .kolom91{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    border-radius: 16px;
    float: left;
    text-align: left;
    color: #d54616;
   }
   
   .kolom90{
     width: 0%;
     border-radius: 16px;
     float: left;
     text-align: center;
     color: #d54616;
    }
   
   
   
   .kolom92{
       min-height: 670px;
       margin-left: 10%;
       margin-right: 10%;
       min-width: 80%;
       max-width: 80%;
       background-color: #e5bda29d;
       border-radius: 16px;
       text-align: center;
       float: left;
   }
   
   .kolom93{
display:none;
   }
   
   .kolom94{
     width: 10%;
     height: 300px;
     border-radius: 16px;
     float: left;
   }
   
   
   input[type=button], button[type=submit], input[type=reset] {
     background-color: #f8eee7;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     margin: 8px 4px;
     cursor: pointer;
     border-radius: 16px;
     font-family: Poppins;
     border-bottom-style: groove;
   }
   
   input[type=button], button:hover[type=submit], input[type=reset]{
       background-color: #e47c5ca5;
       border: none;
       color: black;
       padding: 16px 32px;
       text-decoration: none;
       cursor: pointer;
       border-radius: 16px;
       font-family: Poppins;
      
   }
   
   input[type=text], input[type=email], input[type=message], textarea {
     background-color: #f8eee7;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 16px;
     width: 75%;
     font-family: Poppins;
   }
   
   textarea {
    width: 75%;
    font-family: Poppins;
    max-width: 75%;
    max-height: 200px;
    min-width: 75%;
   }
   
}




