

body {
    overflow: overlay;
  }
  

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    
}

::-webkit-scrollbar-thumb {
    background: #d54616;
    border-radius: 50000000px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    border: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}
/*
.header{
    height:10%;
    background-color: #d54616;
    width: 100%;
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    float: center;
    
}

/*/

header {
    position: sticky;
    top:0;
    height: 10%;
    border-radius: 16px;
    width: 100%;
    background: url("1.svg");
    text-align: center;
    background-repeat: repeat;
    animation: marquee 30s infinite linear;
  }